*,
*::after,
*::before {
  box-sizing: border-box;
  transition: 0.2s;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 14px;
  color: #4c4c96;
  background-color: #05051d;
  background-image: url(../image/noize.png);
  background-size: 100%;
  background-repeat: repeat-y;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  color: #4c4c96;
  border-radius: 5px;
  background-color: #05051d;
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.3);
  border: none;
}

input:focus,
input:hover {
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.5);
}

input::-webkit-input-placeholder {
  color: #2c2c6c;
}

input::-moz-placeholder {
  color: #2c2c6c;
}

input:-ms-input-placeholder {
  color: #2c2c6c;
}

input::-ms-input-placeholder {
  color: #2c2c6c;
}

input::placeholder {
  color: #2c2c6c;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1620px;
  margin: auto;
}

.notFound {
  height: 60vh;
}
.notFound__text {
  font-size: 40px;
  margin-top: 80px;
  line-height: 30px;
}

.iconPlatform {
  fill: #2c2c6c;
}
.logo {
  max-width: 200px;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 3px #4c4c96);
  filter: drop-shadow(0px 0px 3px #4c4c96);
}
.logo:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #4c4c96);
  filter: drop-shadow(0px 0px 5px #4c4c96);
}

.displayNone {
  display: none;
}
.hiddeOpacity {
  visibility: none;
  opacity: 0;
}

.checkBox {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 0;
  top: calc(50% - 7px);
  background-image: url(../image/checkBoxUnChecked.png);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  position: relative;
  z-index: 10;
}

.header__profile-wrapper {
  display: flex;
  max-width: 250px;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 15px;
  background-color: transparent;
  border-radius: 5px 5px 0 0;
}
.header__profile-wrapper--active {
  background-color: #05051d;
}
.header__profileTriggle {
  fill: #4c4c96;
  margin-left: 10px;
}
.header__profileName {
  color: #4c4c96;
  margin-right: 15px;
  font-size: 22px;
}
.header__profile-imgInner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(76, 76, 150, 0.1);
  box-shadow: 0px 0px 10px rgba(76, 76, 150, 0.8);
}

.header__profile-imgInner:hover {
  box-shadow: 0px 0px 10px rgba(76, 76, 150, 1);
}

.header__profile-imgInner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header__dropDownWrapper {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #05051d;
  top: 75px;
  right: 0px;
  transition: 0.2s;
  visibility: hidden;
  border-radius: 0px 0px 5px 5px;
  opacity: 0;
  z-index: 100;
}

.header__dropDownWrapper--active {
  visibility: visible;
  opacity: 1;
}
.header__dropDownItem {
  display: block;
  font-size: 20px;
  color: #4c4c96;
  margin-top: 10px;
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0.1);
}
.header__dropDownItem:first-child {
  margin-top: 5px;
}
.header__dropDownItem:hover {
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0.8);
}

.header__burgerMenuBtn {
  display: none;
  z-index: 200;
}
.header__leftMenu {
  display: none;
  position: fixed;
  overflow: scroll;
  transform: translateX(-100%);
  padding: 0 25px 40px;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  background-color: #05051d;
  z-index: 100;
}
.header__leftMenu--active {
  transform: translateX(0%);
}
.header__login {
  display: block;
  text-align: center;
  line-height: 24px;
  color: #4c4c96;
  font-size: 20px;
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0.1);
}
.header__login:hover {
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0.8);
}

.header__reg {
  color: #4c4c96;
  display: block;
  text-align: center;
  line-height: 24px;
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0.1);
  font-size: 20px;
}
.header__reg:hover {
  text-shadow: 0px 0px 10px #4c4c96;
}
.gameGallery {
  padding: 50px 0;
}
.gameGallery__headerWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 1410px;
  align-items: center;
}
.gameGallery__searchWrapper {
  display: flex;
  position: relative;
}
.gameGallery__serchInp {
  height: 40px;
  padding: 10px 35px 10px 10px;
  border-radius: 5px 5px 0 0;
}
.gameGallery__searchInner {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right center;
}
.gameGallery__searchInner--active {
  opacity: 1;
  transform: scaleX(1);
}
.gameGallery__serchItemWrapper {
  transform-origin: top center;
  transform: scaleY(0);
  opacity: 0;
  width: 100%;
  max-height: 370px;
  padding-bottom: 54px;
  overflow: hidden;
  background-color: #05051d;
}
.gameGallery__serchItemWrapper--active {
  opacity: 1;
  transform: scaleY(1);
}

.gameGallery__searchText {
  display: block;
  color: #2c2c6c;
  text-align: center;
  padding: 20px 10px;
  font-size: 18px;
}
.gameGallery__serchItem {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  justify-content: space-between;
}
.gameGallery__serchItem:hover .gameGallery__searchTitle {
  text-shadow: 0px 0px 10px rgb(76 76 150 / 80%);
}
.gameGallery__serchLink {
  position: absolute;
  display: block;
  color: #4c4c96;
  background-color: #05051d;
  width: 100%;
  font-size: 20px;
  padding: 20px 10px;
  bottom: 0px;
  left: 0;
  border-radius: 0px 0px 5px 5px;
}
.gameGallery__serchLink:hover {
  text-shadow: 0px 0px 10px rgb(76 76 150 / 80%);
}
.gameGallery__searchTitle {
  font-size: 20px;
  color: #4c4c96;
  line-height: 21px;
  width: 203px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gameGallery__searchPrice {
  font-size: 18px;
  color: #ffffff;
}
.gameGallery__findButton {
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
}
.gameGallery__findButton img {
  width: 100%;
  vertical-align: middle;
}
.gameGallery__wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gameGallery:first-child .gameGallery__tittle {
  margin-bottom: 0;
}
.gameGallery__tittle {
  margin-bottom: 50px;
  margin-left: 150px;
}

.gameGallery__itemWrapper {
  width: 195px;
  height: 100px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 5px;
}
.gameGallery__frontGame:hover .gameGallery__frontText {
  transform: translateY(0);
}

.gameGallery__backGame:hover .gameGallery__backText {
  transform: translateY(0);
}

.gameGallery__item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.gameGallery__item--fliped {
  transform: rotateY(180deg);
}
.gameGallery__descWrapper {
  position: absolute;
  top: 0px;
  left: -25px;
  width: 100px;
  background-color: #05051d;
  transform: rotate(-30deg);
  padding: 3px;
  color: #4c4c96;
  font-size: 16px;
  text-align: center;
}

.gameGallery__game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gameGallery__imageItem {
  width: 100%;
  height: 100%;
}

.gameGallery__backGame {
  transform: rotateY(-180deg);
}

.gameGallery__frontBackText {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  right: 0;
  height: 35px;
  background-color: #05051d;
}

.gameGallery__iconWrapper {
  display: flex;
}
.gameGallery__iconWrapper svg {
  margin-top: 6px;
  height: 20px;
  margin-left: 5px;
  margin-right: 0px;
}
.gameGallery__link {
  font-size: 24px;
  float: right;
  color: #4c4c96;
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0);
}
.gameGallery__link:hover {
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0.8);
}
.gameGallery__linkWrapper {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  margin-top: 15px;
}

.gameGallery__text {
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  top: calc(50% - 7px);
  right: 10px;
}

.loginOrReg__wrapper {
  margin: auto;
  margin-top: 15vh;
  max-width: 380px;
}

.loginOrReg__title {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.loginOrReg__item {
  margin-bottom: 30px;
}
.loginOrReg__item:last-child {
  margin-bottom: 0;
}

.loginOrReg__upperText {
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
}

.loginOrReg__inp {
  background-color: #05051d;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.3);
  color: #4c4c96;
  padding: 7px 15px;
  width: 100%;
}

.loginOrReg__inp--error {
  box-shadow: 0px 0px 25px rgba(147, 15, 31, 0.3);
}
.loginOrReg__inp:hover,
.loginOrReg__inp:focus {
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.5);
}
.loginOrReg__inp--error:hover,
.loginOrReg__inp--error:focus {
  box-shadow: 0px 0px 25px rgba(147, 15, 31, 0.5);
}

.loginOrReg__btn {
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  background-color: #05051d;
  padding: 8px 15px;
  color: #4c4c96;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.3);
  position: relative;
}
.loginOrReg__btn--disable {
  color: #2c2c6c;
}
.loginOrReg__margin {
  margin-top: 50px;
}
.loginOrReg__btn:hover,
.loginOrReg__btn:focus {
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.5);
}
.loginOrReg__rememberInner {
  position: relative;
  display: block;
  margin-bottom: 25px;
}
.loginOrReg__rememberCheck {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.loginOrReg__rememberText {
  margin-left: 22px;
  font-size: 20px;
}
.loginOrReg__rememberCheckBox {
  left: 0;
  top: calc(50% - 6px);
}
.loginOrReg__rememberCheck:checked + .checkBox {
  background-image: url(../image/checkBoxChecked.png);
}
.loginOrReg__quickWrapper {
  max-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.loginOrReg__quickLink {
  width: 48px;
}

.loginOrReg__quickImg {
  width: 100%;
}
.loginOrReg__error {
  width: 100%;
  font-size: 18px;
  color: #930f1f;
  margin-top: 10px;
}

.profile__wrapper {
  max-width: 1400px;
  margin: auto;
}
.profile__wrapperTop {
  margin: auto;
  padding: 50px 0 18px;
  display: flex;
}

.profile__imgWraper {
  max-width: 256px;
  max-height: 256px;
  height: 256px;
  width: 100%;
  position: relative;
}
.profile__imgWraper:hover .profile__fileuploadWrapper {
  opacity: 1;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  visibility: visible;
}
.profile__fileuploadWrapper {
  background-color: rgba(5, 5, 29, 0.8);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.profile__fileupload {
  position: absolute;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 100%;
  opacity: 0;
  height: 100%;
  outline: none;
}
.profile__fileText {
  font-size: 20px;
  display: block;
  text-align: center;
  margin-top: 45%;
}

.profile__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile__textInfoAllWrapper {
  max-width: 420px;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.profile__textInfoWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.profile__textInfoWrapper:last-child {
  margin-bottom: 0px;
}

.profile__textInfoSpan {
  font-size: 20px;
  font-weight: 700;
}
.profile__textInfoSpanDark {
  font-size: 20px;
  color: #2c2c6c;
  margin-left: 20px;
}

.profile__input {
  max-width: 250px;
  font-size: 20px;
  padding: 5px 15px;
}

.profile__dateRegWrapper {
  max-width: 253px;
  text-align: center;
}

.profile__dateReg {
  font-size: 20px;
  line-height: 30px;
}

.profile__dateRegSpan {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.profile__tittle {
  font-size: 36px;
}
.linkgamesDisplay {
  font-size: 24px;
  line-height: 14px;
  letter-spacing: 0.05em;
  opacity: 0.9;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.linkgamesDisplay:hover {
  opacity: 1;
  text-shadow: 0px 0px 6px white;
}

.gameItem__link {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-height: 107px;
  background: #05051d;
  border-radius: 5px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.3);
  position: relative;
  z-index: 0;
}
.gameItem__link:hover {
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.5);
}

.gameItem__img {
  border-radius: 3px 0px 0px 3px;
  width: 100%;
  height: 100%;
  max-height: 110px;
}

.gameItem__imgWrapper {
  max-width: 229px;
  width: 100%;
  max-height: 110px;
  position: relative;
  height: 100%;
  z-index: 0;
}

.gameItem__textWrapper {
  padding: 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.gameItem__itemTittle {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 18px;
  color: #4c4c96;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gameItem__price {
  font-size: 20px;
  line-height: 14px;
  color: #ffffff;
  display: block;
}

.gameItem__iconsWrapper {
  display: flex;
}
.gameItem__addGameIconWraaper {
  position: absolute;
  top: calc(50% - 10px);
  right: 140px;
  z-index: 9999;
}
.gameItem__addGameIcon {
  fill: #4c4c96;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(76, 76, 150, 0.5));
  filter: drop-shadow(0px 0px 5px rgba(76, 76, 150, 0.5));
  z-index: 9999;
}

.gameItem__addGameIcon:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(76, 76, 150, 1));
  filter: drop-shadow(0px 0px 5px rgba(76, 76, 150, 1));
}

.gameItem__addGameIcon:hover + .gameItem__toolTip {
  opacity: 1;
}

.gameItem__icon {
  width: 24px;
  margin-right: 10px;
}
.gameItem__icon:last-child {
  margin-right: 15px;
}

.gameItem__toolTip {
  position: absolute;
  opacity: 0;
  top: -3px;
  width: 150px;
  color: #4c4c96;
  font-size: 16px;
  padding: 5px;
  background-color: #05051d;
  z-index: 100;
}

.gameItem__textInner {
  display: flex;
  flex-direction: column;
  max-width: 490px;
}

.gameItem__descNumber {
  position: absolute;
  top: 3px;
  color: #4c4c96;
  width: 100px;
  text-align: center;
  left: -20px;
  font-size: 20px;
  padding: 5px;
  background-color: #05051d;
  transform: rotate(-30deg);
}

.gameItem__textInnerTwo {
  display: flex;
  align-items: center;
}

.gameItem__genre {
  z-index: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #2c2c6c;
}
.gameItem__date {
  z-index: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #2c2c6c;
  margin-left: 15px;
}

.gameItem__icon {
  fill: #2c2c6c;
}

.genreTittle {
  font-weight: 700;
  font-size: 34px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #4c4c96;
}

.about {
  padding: 60px 0;
}
.about__wrapper {
  max-width: 1500px;
  margin: auto;
}
.about__tittle {
  color: #4c4c96;
  font-size: 36px;
  margin-left: 100px;
  line-height: 30px;
}

.about__text {
  margin: auto;
  color: #2c2c6c;
  max-width: 1200px;
  line-height: 30px;
  margin-top: 40px;
}
.about__wrapperShops {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  margin-top: 40px;
}
.about__subTitle {
  margin-top: 60px;
  font-size: 32px;
}
.about__shops {
  flex-basis: 23%;
  text-align: center;
}
.about__shopsImg {
  width: 100%;
}
.footer {
  padding: 50px 0;
  width: 100%;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__textWrapper {
  margin-left: auto;
}
.footer__text {
  font-weight: 400;
  margin-bottom: 15px;
  text-align: right;
  color: #4c4c96;
  display: block;
  text-shadow: 0px 0px 10px rgba(76, 76, 150, 0.1);
}
.footer__text:hover {
  text-shadow: 0px 0px 10px #4c4c96;
}
.footer__text:last-child {
  margin-bottom: 0px;
}

.buttonSystem {
  color: #2c2c6c;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 0px 0px 2px #2c2c6c;
}

.game {
  padding: 100px 0;
}
.game__wrapper {
  display: flex;
  max-width: 1367px;
  margin: auto;
}
.game__left {
  margin-right: 40px;
  max-width: 400px;
  width: 100%;
}
.game__gameImg {
  max-width: 400px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  display: block;
}
.game__systemTittle {
  margin-top: 30px;
  font-size: 24px;
  text-shadow: 0px 0px 2px #4c4c96;
  font-weight: 600;
}
.game__systemWrapper {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
.game__buttonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.game__buttonSystem--active {
  color: #4c4c96;
  text-shadow: 0px 0px 2px #4c4c96;
}
.game__sysTittle {
  font-weight: 600;
  font-size: 20px;
  color: #4c4c96;
  margin-bottom: 20px;
  text-shadow: 0px 0px 2px #4c4c96;
}
.game__sysDesc {
  font-size: 20px;
  line-height: 29px;
  color: #2c2c6c;
  text-shadow: 0px 0px 2px #2c2c6c;
}
.game__optionsWrapper {
  margin-top: 20px;
  flex-basis: 100%;
}
.game__slice {
  max-width: 160px;
}
.game__secondWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
.game__secondWrapper:first-child {
  margin-top: 10px;
}
.game__right {
  width: 100%;
  position: relative;
}
.game__changeAdmin {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}
.game__modalChange {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.game__modalChange--active {
  display: flex;
}

.game__modalChangeWrapper {
  background-color: #05051d;
  padding: 50px;
  width: 800px;
}
.game__modalChangeButton {
  display: block;
  margin: auto;
  color: #4c4c96;
  outline: none;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #05051d;
  border: 2px solid #4c4c96;
}
.game__modalChangeHeader {
  position: relative;
}
.game__modalChangeExit {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}
.game__modalChangeInputTextArea {
  height: 200px;
  width: 100%;
  resize: none;
}
.game__modalChangeBody {
  margin-top: 50px;
}
.game__modalChangeTittle {
  text-align: center;
}
.game__modalChangeSubTitle {
  font-size: 18px;
  max-width: 150px;
}
.game__modalChangeInput {
  max-width: 500px;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.28);
  font-size: 18px;
  outline: none;
  color: #4c4c96;
  background-color: #05051d;
  border: none;
}
.game__modalChangeItem {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game__modalChangeItem:first-child {
  margin-top: 0;
}
.game__changeAdminIcon {
  fill: #4c4c96;
}
.game__tittle {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
  text-shadow: 0px 0px 2px #4c4c96;
  position: relative;
}

.game__addIconWrapper {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.game__addGameIcon {
  fill: #4c4c96;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(76, 76, 150, 0.5));
  filter: drop-shadow(0px 0px 5px rgba(76, 76, 150, 0.5));
}

.game__addGameIcon:hover + {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(76, 76, 150, 1));
  filter: drop-shadow(0px 0px 5px rgba(76, 76, 150, 1));
}
.game__addGameIcon:hover + .game__toolTip {
  opacity: 1;
}
.game__toolTip {
  position: absolute;
  opacity: 0;
  top: -2px;
  max-width: 200px;
  width: 100%;
  color: #4c4c96;
  font-size: 16px;
  padding: 5px;
  z-index: 100;
}
.game__wrapperShop {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: space-between;
}
.game__shopCart {
  max-width: 390px;
  width: 100%;
  max-height: 80px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: #05051d;
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.3);
}

.game__shopCart:hover {
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.8);
}
.game__shopImg {
  max-width: 200px;
  height: 100%;
  width: 100%;
}
.game__gameImgTwo {
  display: none;
}
.game__priceNow {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0px 0px 2px #ffffff;
  display: block;
}
.game__priceInnerUnDesc {
  text-align: center;
}
.game__priceWrapper {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.game__pricePrev {
  display: block;
  color: #978f8f;
  opacity: 1;
  font-size: 16px;
  margin-bottom: 5px;
  text-shadow: 0px 0px 1px #978f8f;
  position: relative;
  text-align: center;
}
.game__pricePrev::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 2px;
  background-color: #4c4c96;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 1px #4c4c96;
  left: 0;
  top: 5px;
}
.game__numDesc {
  font-size: 14px;
  line-height: 12px;
  color: #4c4c96;
  margin-left: 10px;
  text-shadow: 0px 0px 10px #4c4c96;
}
.game__textWrapper {
  margin-top: 10px;
  max-width: 800px;
}
.game__descTittle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  text-shadow: 0px 0px 2px #4c4c96;
}
.game__descText {
  color: #2c2c6c;
  font-size: 20px;
  line-height: 30px;
  text-shadow: 0px 0px 2px #2c2c6c;
}

.gamesDisplay__wrapper {
  display: flex;
  padding: 100px 0;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1400px;
}
.gamesDisplay__emptyAlert {
  display: block;
  font-size: 22px;
  color: #2c2c6c;
  text-align: center;
}

.gamesDisplay__filterWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  max-width: 325px;
  z-index: 5;
}
.game__dateWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.game__dateTittle {
  font-size: 24px;
}
.game__dateText {
  font-size: 20px;
  line-height: 29px;
  color: #2c2c6c;
  font-weight: 600;
}
.gamesDisplay__genre {
  cursor: pointer;
  max-width: 325px;
  background-color: #05051d;
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.3);
  position: relative;
  z-index: 2;
}
.gamesDisplay__genre--disabled,
.gamesDisplay__genre--disabled + .gamesDisplay__genreBody > .gamesDisplay__genreItem {
  opacity: 0.5;
}

.gamesDisplay__genreHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 12px 20px;
  z-index: 2;
}
.gamesDisplay__genreItem {
  margin-top: 23px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.gamesDisplay__genreItem:first-child {
  margin-top: 20px;
}
.gamesDisplay__genreBody {
  position: absolute;
  background-color: #05051d;
  top: 43px;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: 2;
  border-radius: 5px;
  padding: 0px 20px;
  transition: 0.3s;
  transform-origin: top center;
  transform: scaleY(0);
  opacity: 0;
}

.gamesDisplay__sortItem {
  z-index: 1;
}
.gamesDisplay__genreCheck {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
  cursor: pointer;
}

.gamesDisplay__genreCheck:checked + .checkBox {
  background-image: url(../image/checkBoxChecked.png);
}
.gamesDisplay__genreBody--active {
  opacity: 1;
  transform: scaleY(1);
}

.gamesDisplay__genre:hover {
  box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.5);
}

.gamesDisplay__genreSpan {
  font-size: 18px;
  width: 100%;
  padding: 3px 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gamesDisplay__sliderPrice {
  width: 93%;
  margin: auto;
}
.gamesDisplay__sliderYear {
  width: 93%;
  margin: auto;
}
.gamesDisplay__triggle {
  fill: #2c2c6c;
}
.gamesDisplay__triggle--active {
  fill: #4c4c96;
}
.gamesDisplay__filterItem {
  margin-top: 40px;
  z-index: 0;
}

.gamesDisplay__subTittle {
  margin-bottom: 25px;
  font-size: 24px;
}

.gamesDisplay__inputSpan {
  font-size: 20px;
  margin-right: 10px;
}
.gamesDisplay__descountWrapper {
  margin-left: 20px;
  align-items: center;
  display: flex;
}
.gamesDisplay__descSpan {
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #2c2c6c;
}
.gamesDisplay__descSpan--active {
  color: #4c4c96;
}

.gamesDisplay__input {
  max-width: 100px;
  padding: 5px 10px;
  font-size: 18px;
}
.gamesDisplay__input:disabled {
  opacity: 0.5;
}
.gamesDisplay__inputWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamesDisplay__sort {
  font-weight: 600;
  font-size: 24px;
}

.gamesDisplay__buttonSpan {
  font-size: 24px;
  color: #2c2c6c;
  position: relative;
}
.gamesDisplay__buttonSpan--active {
  color: #4c4c96;
}
.gamesDisplay__search {
  width: 100%;
  font-size: 18px;
  height: 44px;
  padding: 15px 20px;
  color: #4c4c96;
}
.gamesDisplay__search:disabled {
  opacity: 0.5;
}

.gamesDisplay__search-Wrapper {
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
  z-index: 1;
}

.gamesDisplay__search-button {
  position: absolute;
  background: #05051d;
  border: none;
  outline: none;
  height: 100%;
  right: 0px;
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
}
.gamesDisplay__search-button:disabled {
  opacity: 0.5;
}
.gamesDisplay__search-button img {
  margin-top: calc(50% - 20px);
}
.gamesDisplay__wrapperRight {
  margin-left: 50px;
  flex-grow: 6;
  z-index: 0;
}

.gamesDisplay__filterWrapperTwo {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.gamesDisplay__button {
  display: flex;
  max-width: 200px;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #4c4c96;
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
}
.gamesDisplay__button:disabled,
.gamesDisplay__genreCheck:disabled + .gamesDisplay__descSpan {
  opacity: 0.5;
}

.gamesDisplay__buttonFilterMobile {
  display: none;
}
.gamesDisplay__button svg {
  margin-left: 5px;
}

.gamesDisplay__itemWrapper {
  flex-basis: 100%;
}

.gamesDisplay__itemLink {
  margin: 0;
  margin-bottom: 25px;
}

.noUi-target {
  height: 3px;
  background-color: #05051d;
  box-shadow: 0px 0px 5px 1px #4c4c96;
  border: none;
}
.noUi-connect {
  background-color: #4c4c96;
}

[disabled] .noUi-connect {
  background-color: #4c4c96;
  opacity: 0.5;
}

[disabled] .noUi-handle {
  border: 2px solid #2c2c6c;
  box-shadow: 0px 0px 5px #2c2c6c;
}
.noUi-handle {
  border-radius: 50%;
  background-color: #05051d;
  border: 2px solid #4c4c96;
  box-shadow: 0px 0px 5px #4c4c96;
  cursor: pointer;
  outline: none;
}

.noUi-horizontal .noUi-handle {
  top: -10px;
  width: 28px;
  height: 22px;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.loading {
  text-align: center;
  margin-top: 25vh;
  height: 100vh;
}

.animate {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 5s linear;
  animation: dash 5s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.leftRegLink {
  font-size: 24px;
  margin-top: 50px;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.preloader {
  position: relative;
  width: 78px;
  height: 78px;
  margin: auto;
}

.preloader .wBall {
  position: absolute;
  left: 23px;
  top: 15px;
  width: 30px;
  height: 30px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 3.6325s infinite;
  -o-animation: orbit 3.6325s infinite;
  -ms-animation: orbit 3.6325s infinite;
  -webkit-animation: orbit 3.6325s infinite;
  -moz-animation: orbit 3.6325s infinite;
}

.preloader .wBall .wInnerBall {
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgb(76, 76, 150);
  left: 0px;
  top: 0px;
  border-radius: 10px;
}

.preloader #wBall_1 {
  animation-delay: 0.796s;
  -o-animation-delay: 0.796s;
  -ms-animation-delay: 0.796s;
  -webkit-animation-delay: 0.796s;
  -moz-animation-delay: 0.796s;
}

.preloader #wBall_2 {
  animation-delay: 0.153s;
  -o-animation-delay: 0.153s;
  -ms-animation-delay: 0.153s;
  -webkit-animation-delay: 0.153s;
  -moz-animation-delay: 0.153s;
}

.preloader #wBall_3 {
  animation-delay: 0.3165s;
  -o-animation-delay: 0.3165s;
  -ms-animation-delay: 0.3165s;
  -webkit-animation-delay: 0.3165s;
  -moz-animation-delay: 0.3165s;
}

.preloader #wBall_4 {
  animation-delay: 0.4695s;
  -o-animation-delay: 0.4695s;
  -ms-animation-delay: 0.4695s;
  -webkit-animation-delay: 0.4695s;
  -moz-animation-delay: 0.4695s;
}

.preloader #wBall_5 {
  animation-delay: 0.633s;
  -o-animation-delay: 0.633s;
  -ms-animation-delay: 0.633s;
  -webkit-animation-delay: 0.633s;
  -moz-animation-delay: 0.633s;
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0%;
  }

  30% {
    opacity: 1;
    transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
  }

  39% {
    opacity: 1;
    transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
  }

  70% {
    opacity: 1;
    transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
  }

  75% {
    opacity: 1;
    transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
  }

  76% {
    opacity: 0;
    transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }

  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }

  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}

@media (max-width: 1620px) {
  .container {
    max-width: 1200px;
  }
  .header__search {
    max-width: 600px;
    width: 100%;
  }
  .header__search-Wrapper {
    max-width: 600px;
  }
  .about__text {
    max-width: 900px;
  }
  .about__wrapperShops {
    max-width: 900px;
  }
  .game__shopCart {
    max-width: 350px;
  }
  .game__shopImg {
    width: 55%;
  }
  .game__tittle {
    font-size: 34px;
    line-height: 30px;
  }
  .gameGallery__tittle {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .header__search {
    max-width: 600px;
  }
  .header__search-Wrapper {
    max-width: 400px;
  }
  .about__tittle {
    margin-left: 0;
  }
  .about__text {
    max-width: 900px;
  }
  .gamesDisplay__wrapper {
    padding: 25px 0;
  }
  .gamesDisplay__filterWrapperTwo {
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .gamesDisplay__wrapperRight {
    margin-left: 0;
  }
  .gamesDisplay__search-Wrapper {
    margin-top: 40px;
  }
  .gamesDisplay__itemLink {
    margin: auto;
    margin-bottom: 25px;
  }
  .gamesDisplay__genre {
    max-width: 100%;
    max-width: inherit;
  }

  .gamesDisplay__buttonFilterMobile {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    color: #4c4c96;
    font-size: 18px;
    background-color: #05051d;
    padding: 12px 20px;
    margin-top: 40px;
    box-shadow: 0px 0px 25px rgba(76, 76, 150, 0.3);
  }
  .gamesDisplay__filterWrapper {
    transform: translateY(-100%);
    max-width: initial;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: 0.5s;
  }
  .gamesDisplay__filterWrapper--visible {
    height: 100%;
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 768px;
  }
  .header__wrapper {
    flex-wrap: wrap;
  }
  .header__search {
    max-width: 850px;
  }
  .header__search-Wrapper {
    flex-basis: 100%;
    margin-top: 40px;
    max-width: 850px;
    order: 1;
    width: 100%;
  }
  .gameItem__textInner {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .header__burgerMenuBtn {
    display: block;
    width: 50px;
    height: 40px;
    background-color: transparent;
    font-size: 20%;
    border: none;
    outline: none;
  }

  .header__burgerMenuBtn--active > span:last-child {
    width: 50%;
  }
  .header__burgerMenuBtn--active > span:nth-child(2) {
    width: 80%;
  }
  .header__burgerMenuLine {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    margin-top: 7px;
    float: right;
    background-color: #4c4c96;
  }
  .header__burgerMenuLine:first-child {
    margin-top: 0;
  }
  .header__leftMenu {
    display: block;
  }
  .header__textWrapper {
    display: none;
  }
  .logo {
    flex-basis: 49%;
  }
  .gameGallery {
    padding: 30px 0;
  }
  .gameGallery__link {
    float: right;
  }
  .gameGallery__linkWrapper {
    text-align: center;
  }
  .about__tittle {
    margin-left: 0;
    font-size: 30px;
  }
  .about__text {
    max-width: 900px;
    font-size: 20px;
  }
  .about__wrapperShops {
    flex-direction: column;
  }
  .about__shops {
    margin-bottom: 20px;
    text-align: center;
  }

  .about__shops:last-child {
    margin-bottom: 0;
  }
  .about__shopsImg {
    width: 50%;
  }
  .genreTittle {
    margin-bottom: 50px;
  }
  .gameItem__link {
    max-width: inherit;
    max-height: inherit;
    justify-content: inherit;
    flex-direction: column;
    margin: auto;
    z-index: 0;
    margin-bottom: 40px;
    max-width: 320px;
  }
  .gameItem__imgWrapper {
    flex-basis: 100%;
    max-width: 320px;
    width: 100%;
  }
  .gameItem__itemTittle {
    line-height: 30px;
    margin-bottom: 20px;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
  }
  .gameItem__toolTip {
    display: none;
  }
  .game__toolTip {
    display: none;
  }
  .gameItem__textWrapper {
    padding: 20px;
    margin: auto;
    flex-direction: column;
    justify-content: inherit;
    text-align: center;
  }
  .gameItem__addGameIconWraaper {
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: #05051d;
    z-index: 2000;
    border-radius: 0px 0px 0px 10px;
  }
  .gameItem__addGameIcon {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .gameItem__date {
    display: none;
  }
  .gameItem__genre {
    line-height: 30px;
    display: none;
  }
  .gameItem__itemTittle {
    font-size: 20px;
    line-height: 20px;
  }
  .gameItem__iconsWrapper {
    margin: auto;
    margin-bottom: 24px;
    display: none;
  }

  .gameGallery__linkWrapper {
    width: 85%;
  }

  .footer__wrapper {
    justify-content: inherit;
    flex-direction: column;
  }
  .footer__textWrapper {
    margin-left: 0;
  }
  .footer__logo {
    display: none;
  }
  .footer__text {
    text-align: center;
  }
  .game {
    padding: 50px 0 100px 0;
  }
  .game__wrapper {
    flex-direction: column;
  }
  .game__left {
    order: 1;
    text-align: center;
    margin: auto;
  }
  .game__right {
    margin: auto;
    text-align: center;
  }
  .game__gameImg {
    display: none;
  }
  .game__gameImgTwo {
    display: block;
    margin: auto;
    max-width: 400px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  .game__shopCart {
    margin: auto;
    margin-bottom: 30px;
    max-width: 390px;
  }
  .game__shopImg {
    width: 100%;
  }
  .gamesDisplay__itemLink {
    margin: 0;
    flex-basis: 49%;
  }
  .gamesDisplay__itemWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gamesDisplay__filterWrapperTwo {
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .gamesDisplay__sort {
    font-size: 20px;
  }
  .gamesDisplay__button {
    margin-left: inherit;
  }
  .gamesDisplay__buttonSpan {
    font-size: 20px;
  }
  .gamesDisplay__descSpan {
    margin-left: inherit;
    font-size: 20px;
  }
  .gamesDisplay__sortItem {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 80%;
  }
  .logo {
    max-width: 150px;
  }
  .notFound {
    height: 30vh;
  }
  .header__profileName {
    display: none;
  }
  .notFound__text {
    font-size: 30px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    line-height: 30px;
  }
  .header__wrapper {
    text-align: center;
  }

  .header__textWrapper {
    flex-basis: 100%;
    margin-top: 30px;
  }
  .header__search-Wrapper {
    margin-top: 30px;
  }
  .header__leftMenu {
    width: 100vw;
  }

  .genreTittle {
    font-size: 30px;
  }
  .loginOrReg__title {
    font-size: 24px;
  }
  .loginOrReg__upperText {
    font-size: 18px;
  }
  .loginOrReg__quickLink {
    width: 35px;
  }
  .loginOrReg__inp {
    padding: 5px 10px;
  }
  .about {
    padding: 30px 0;
  }

  .about__text {
    margin-top: 20px;
  }
  .swiper-slide-active {
    height: 525px;
  }
  .footer__text {
    font-size: 20px;
  }
  .game {
    padding: 50px 0;
  }
  .game__shopCart {
    margin: auto;
    margin-bottom: 30px;
    max-width: 390px;
  }
  .game__shopImg {
    width: 50%;
  }
  .game__buttonWrapper {
    justify-content: inherit;
    flex-wrap: wrap;
  }
  .game__buttonSystem {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .game__secondWrapper {
    flex-wrap: wrap;
  }
  .game__secondWrapper:first-child {
    margin-top: 0px;
  }
  .game__slice {
    flex-basis: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .game__systemTittle {
    line-height: 30px;
  }
  .header__profile-wrapper {
    max-width: 122px;
    justify-content: center;
    width: 100%;
    padding: 15px;
  }
  .profile__wrapperTop {
    flex-direction: column;
    align-items: center;
  }
  .profile__dateRegWrapper {
    max-width: initial;
    margin-top: 10px;
  }
  .profile__textInfoAllWrapper {
    margin-left: 0px;
  }
  .profile__textInfoWrapper {
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
  }
  .profile__imgWraper {
    max-width: 250px;
    max-height: 250px;
  }
  .gamesDisplay__filterItem {
    text-align: center;
  }
  .gamesDisplay__inputWrapper {
    flex-direction: column;
  }
  .gamesDisplay__inputWrapperTwo {
    margin-bottom: 20px;
  }
  .gamesDisplay__inputWrapperTwo:last-child {
    margin-bottom: 0;
  }
  .gamesDisplay__itemLink {
    margin: auto;
    max-width: 320px;
    margin-bottom: 30px;
    flex-basis: 100%;
  }
  .gamesDisplay__itemWrapper {
    justify-content: inherit;
  }
  .topGenre__listWrapper {
    justify-content: inherit;
  }
  .topGenre__listItem {
    margin: auto;
    max-width: 320px;
    flex-basis: 100%;
  }
}

.cls-1 {
  font-size: 36px;
  font-family: Tahoma;
  letter-spacing: 0.01em;
}
.cls-1,
.cls-3 {
  fill: #4c4c96;
}
.cls-2,
.cls-4,
.cls-5 {
  fill: none;
}
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke: #4c4c96;
  stroke-miterlimit: 10;
}
.cls-2 {
  stroke-width: 4px;
}
.cls-3,
.cls-5 {
  stroke-width: 3px;
}
.cls-4 {
  stroke-width: 0.5px;
}
@media (max-width: 485px) {
  .gameGallery__itemWrapper {
    max-width: 280px;
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
  }
  .gameGallery__frontBackText {
    transform: translateY(0%);
  }
  .gameGallery__searchInner {
    max-width: 288px;
  }
  .gameGallery__searchTitle {
    font-size: 16px;
    width: 174px;
  }
  .gameGallery__searchPrice {
    font-size: 16px;
  }
  .gameGallery__serchInp {
    font-size: 20px;
  }
  .gameGallery__serchInp {
    max-width: 288px;
  }
  .about__subTitle {
    font-size: 26px;
    margin-top: 40px;
  }
  .about__shopsImg {
    width: 65%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 90%;
  }
  .gameItem__link {
    max-width: 100%;
  }
  .gameGallery__linkWrapper {
    width: 100%;
  }
}
